<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term;
        // Funzione per inizializzare il terminale con il numero di righe appropriato
        function initTerminal() {
            var rows = 38; // Numero predefinito di righe
            // Verifica delle dimensioni dello schermo per regolare il numero di righe
            if (window.innerWidth <= 768 && window.innerHeight <= 1024) {
                rows = 20; // Numero di righe per dimensioni dello schermo più piccole
            }
            term = new Terminal({
                cols: 80,
                rows: rows // Imposta il numero di righe dinamicamente
            });
            term.open(document.getElementById('terminal'));
            term.writeln('Running startup command: python3 run.py');
            term.writeln('');
            var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
                ':' + location.port) : '') + '/');
            ws.onopen = function () {
                new attach.attach(term, ws);
            };
            ws.onerror = function (e) {
                console.log(e);
            };
            // Set focus in the terminal
            document.getElementsByClassName("xterm-helper-textarea")[0].focus();
        }
        // Esegui initTerminal() all'avvio e ogni volta che la finestra viene ridimensionata
        window.onload = initTerminal;
        window.onresize = initTerminal;
    </script>
</body>